.App {
  text-align: center;
}
.navbar{
  background-color: #182C61 !important;
}
.specialBackground{
  background-color: #9AECDB !important;
}
.speialButton{
  background-color: #B33771 !important;
  border: none !important;
  padding: 10px 20px !important;
  color: white !important;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif !important;
  font-weight: bold !important;
  border-radius: 18px !important;
}

.card:hover{
  box-shadow: 8px 7px 8px gray;
  scale: 1.1;
  transition: 0.5s ease-in-out;
}






.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
